.BadgeNew__hero {
    width: 100%;
    padding: 2rem 0;
    /* background: url('../../../images/stars.svg'), #1B1B25; */
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
  }

  .BadgeNew__hero-image{
    max-height: 100px;
  }

.container-BadgeForm{
  border-radius: 15px;
  margin: 0 auto;
  width: 60%;
  background: #1B1B25;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.10);
}

.container-BadgeForm h1{
  text-align: center;
  text-decoration: underline;
  font-size: 40px;
  color: #ffffff;
  padding-top: 25px;
  min-height: 50px;
}