/* .BadgeList{
    
} */

.List__container--image{
    width: auto;
    padding: 0px 30px;
}

.List__container--image img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.BadgesListItem{
    border: 6px solid grey;
    border-radius: 15px;
    margin: 15px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 150px;
}

.BadgesListItem__avatar{
    border-radius: 50%;
    height: 100px;
    margin: 20px
}

.BadgesListItem__info{
    width: 80%;
}

.BadgesListItem__info-name{
    font-size: 30px;
    margin: 10px 0px;
}

.BadgesListItem__info p:nth-child(2), 
.BadgesListItem__info p:nth-child(3){
    font-size: 20px;
    margin: 10px 0px;
}

.BadgeList__search{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.BadgeList__search-title{
    font-size: 32px;
    margin: 10px 0px;
}

.BadgeList__search-input{
    border-radius: 15px;
    height: 35px;
    margin: 10px 0px;
}